<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarity Adoption Report</title>
    <style>
        .monospace {
            font-family: monospace;
        }
    </style>
</head>
<body>
    <h1>Clarity Adoption Report</h1>

    <% for (const [ component, errors ] of Object.entries(messages)) { %>
        <h2><%= component[0].toUpperCase() + component.substring(1) %></h2>
        <div>
            <p>Please follow the <a href="http://clarity.design/">instructions for adopting the Clarity Core <%= component %> component.</a></p>
            <p>You are using Clarity Angular <span class="monospace"><%= component %>s</span> in the following files:</p>

            <ul>
            <% errors.forEach(error => { %>
                <li><span class="monospace"><%= error.fileName %></span> on line <%= error.line %> at column <%= error.column %></li>
            <% }); %>
            </ul>

        </div>
    <% } %>
</body>
</html>